/*change la couleur de selection de la souris*/
::selection {
    color: red;
    background: yellow;
}

body {
  background-color: white;
  overflow: hidden;
  margin: 0;
  font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
}

pre {
}

#overlayBlack {
  background-color: #3e3e3e;
  width: 100%;
  height: 100%;
  z-index: 100;
  position: absolute;
}

#btnStartGame {
  font-size: 40px;
  position: absolute;
  font-family: 'La Belle Aurore', cursive;
  color: white;
  top: 40%;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}

#btnStartGame:hover {
  /*text-shadow: 0px 0px 10px white;*/
}

#statusBar {
    /*height: 50px;*/
    border: 1px solid black;
    padding: 10px;
    /*background-color: grey;*/
    display: none;
    font-size: small;
}

.statPerso {
    padding-right: 5px;
    width: 150px;
    display: inline-block;
}

.label {
  margin-left: 5px;
  margin-right: 5px;
}

#uptake {
  display: none;
  color: #e74848;
  font-size: smaller;
}

.gameWindow {
    position: absolute;
    top: 100px;
    width: 100%;
    height: 80%;
    left: 0;
}

#game0, #game1, #game2  {
  display: none;
}

#bonhomme {
  display: none;
  position: absolute;
  top: 50px;
  left: calc(50% - 220px);
  transform: translateX(-50%);
}

.cage {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

#cage2 {
  display: none;
}

#jailDoor {
  position: absolute;
  display: none;
  top: 0px;
  left: calc(50% - 140px);
  transform: translateX(-50%);
}

#interrupteur {
  z-index: 1;
  cursor: pointer;
  position: absolute;
  top: 30px;
  left: calc(50% - -120px);
  transform: translateX(-50%);
}

#interrupteur ::selection {
  color: blue;
  background: green;
}

#jailKey {
  top: 90px;
  position: absolute;
  top: 90px;
  left: calc(50% - 120px);
  transform: translateX(-50%);
}

#outJailDoor {
  position: absolute;
  display: none;
  cursor: pointer;
  top: -30px;
}

#chat {
  display: none;
}

.bulle {
  opacity: 0;
  color: white;
  background-color: #a26363;
  padding: 10px;
  width: 100px;
  border-radius: 10px;
  text-align: -webkit-center;
  z-index: 1;
}

.arrow-down {
    position: absolute;
    bottom: -10px;
    width: 0;
    height: 0;
    left: 50%;
    transform: translateX(-50%);
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #a26363;
    z-index: 0;
}

.dungeon0Door {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}

#door0 {
  top: 100px;
  left: calc(50% - 200px);
}
#door2 {
  top: 100px;
  left: calc(50% + 200px);
}

.allBlack {
  background-color: black;
}

.allWhite {
  background-color: white;
}

#btnResizeConsole {
  position: absolute;
  bottom: 120px;
  left: 5px;
}

#console {
    border: 1px solid rgba(0, 0, 0, 0.3);
    position: absolute;
    bottom: 20px;
    height: 100px;
    width: 400px;
    background-color: rgba(255, 255, 255, 0.8);
    overflow: auto;
    z-index: 10;
    padding-left: 5px;
}

.msgCons {
  width: 100%;
  float: left;
}
